.container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container__text {
    font-weight: 700;
    color: cornflowerblue;
}
