# CLI

packages/cli/src/commands/ @Frontify/content-and-blocks @Frontify/themes-and-navigation @Frontify/developer-experience
packages/cli/src/errors/ @Frontify/content-and-blocks @Frontify/themes-and-navigation @Frontify/developer-experience
packages/cli/src/utils/ @Frontify/content-and-blocks @Frontify/themes-and-navigation @Frontify/developer-experience
packages/cli/src/utils/verifyManifest.ts @Frontify/developer-experience
packages/cli/src/utils/compiler/compilePlatformApp.ts @Frontify/developer-experience
packages/cli/src/utils/compiler/compileTheme.ts @Frontify/themes-and-navigation
packages/cli/src/utils/compiler/compileBlock.ts @Frontify/content-and-blocks
packages/cli/src/servers/blockDevelopmentServer.ts @Frontify/content-and-blocks
packages/cli/src/servers/platformAppDevelopmentServer.ts @Frontify/developer-experience
packages/cli/src/servers/themeDevelopmentServer.ts @Frontify/themes-and-navigation

## Templates

packages/cli/templates/content-block-css @Frontify/content-and-blocks
packages/cli/templates/content-block-css-modules @Frontify/content-and-blocks
packages/cli/templates/content-block-tailwind @Frontify/content-and-blocks
packages/cli/templates/platform-app-css @Frontify/developer-experience
packages/cli/templates/platform-app-css-modules @Frontify/developer-experience
packages/cli/templates/platform-app-tailwind @Frontify/developer-experience

# Blocks

packages/app-bridge @Frontify/content-and-blocks

# Platform Apps

packages/platform-app @Frontify/developer-experience
packages/app-bridge-app @Frontify/developer-experience

# Guideline Blocks Settings

packages/guideline-blocks-settings @Frontify/content-and-blocks

# Sidebar Settings

packages/sidebar-settings @Frontify/content-and-blocks @Frontify/themes-and-navigation

# App Bridge Theme

packages/app-bridge-theme @Frontify/themes-and-navigation

# Guideline Themes

packages/guideline-themes @Frontify/themes-and-navigation

CODEOWNERS @Frontify/architecture
