# App Bridge

packages/app-bridge/src/types @Frontify/frontend-platform

## App Bridge Errors
packages/app-bridge/src/errors/HttpClientError.ts @Frontify/content-and-blocks @Frontify/themes-and-navigation

## App Bridge Helpers

packages/app-bridge/src/helpers/ @Frontify/themes-and-navigation

## React Hooks

packages/app-bridge/src/react/ @Frontify/content-and-blocks

### App Bridge registries 

packages/app-bridge/src/registries/ @Frontify/content-and-blocks

## App Bridge repositories

packages/app-bridge/src/repositories/ @Frontify/content-and-blocks

## App Bridge Tests

packages/app-bridge/src/tests/ @Frontify/content-and-blocks

## App Bridge Utilities

packages/app-bridge/src/utilities/ @Frontify/content-and-blocks

## App Bridge Worker

packages/app-bridge/src/worker/ @Frontify/content-and-blocks

## App Bridge Interfaces

packages/app-bridge/src/AppBridge.ts @Frontify/content-and-blocks
packages/app-bridge/src/AppBridgeBlock.ts @Frontify/content-and-blocks
packages/app-bridge/src/window.d.ts @Frontify/content-and-blocks

# CLI

packages/cli/src/commands/ @Frontify/content-and-blocks @Frontify/themes-and-navigation @Frontify/apps-and-integrations
packages/cli/src/errors/ @Frontify/content-and-blocks @Frontify/themes-and-navigation @Frontify/apps-and-integrations
packages/cli/src/utils/ @Frontify/content-and-blocks @Frontify/themes-and-navigation @Frontify/apps-and-integrations
packages/cli/src/utils/verifyManifest.ts @Frontify/apps-and-integrations
packages/cli/src/utils/compiler/compilePlatformApp.ts @Frontify/apps-and-integrations
packages/cli/src/utils/compiler/compileTheme.ts @Frontify/themes-and-navigation
packages/cli/src/utils/compiler/compileBlock.ts @Frontify/content-and-blocks
packages/cli/src/servers/blockDevelopmentServer.ts @Frontify/content-and-blocks
packages/cli/src/servers/platformAppDevelopmentServer.ts @Frontify/apps-and-integrations
packages/cli/src/servers/themeDevelopmentServer.ts @Frontify/themes-and-navigation

## Templates

packages/cli/templates/content-block-css @Frontify/content-and-blocks
packages/cli/templates/content-block-css-modules @Frontify/content-and-blocks
packages/cli/templates/content-block-tailwind @Frontify/content-and-blocks
packages/cli/templates/platform-app-css @Frontify/apps-and-integrations
packages/cli/templates/platform-app-css-modules @Frontify/apps-and-integrations
packages/cli/templates/platform-app-tailwind @Frontify/apps-and-integrations

# Platform Apps

packages/platform-app @Frontify/apps-and-integrations
packages/app-bridge-app @Frontify/apps-and-integrations

# Guideline Blocks Settings

packages/guideline-blocks-settings @Frontify/content-and-blocks

# Sidebar Settings

packages/sidebar-settings @Frontify/content-and-blocks @Frontify/themes-and-navigation

# App Bridge Theme

packages/app-bridge-theme @Frontify/themes-and-navigation

CODEOWNERS @Frontify/architecture
