name: App Bridge Platform Apps CI

on:
  pull_request:
    paths:
      - packages/app-bridge-app/**

# Ensures that only one workflow per branch will run at a time.
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  app-bridge-app-ci:
    runs-on: ubuntu-latest
    timeout-minutes: 10

    steps:
      - name: Checkout default branch
        uses: actions/checkout@v6
        with:
          # Disabling shallow clone is recommended for improving relevancy of reporting
          fetch-depth: 0

      - name: Use pnpm
        uses: pnpm/action-setup@v4.2.0
        with:
          run_install: false

      - name: Use Node.js
        uses: actions/setup-node@v6
        with:
          node-version-file: ".nvmrc"
          cache: "pnpm"

      - name: Install npm dependencies
        run: pnpm i --frozen-lockfile

      - name: Typecheck code
        run: pnpm --stream --filter {packages/app-bridge-app} typecheck

      - name: Lint code
        run: pnpm --stream --filter {packages/app-bridge-app} lint

      - name: Test code
        run: pnpm --stream --filter {packages/app-bridge-app} test
